body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: right;
    margin: 25px;
}

.header-link {
    margin: 0 20px;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.searchcontainer {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
    margin-top: 150px;
    align-self: center;
}

.advanced-search-container {
    max-width: 800px;
    margin:0 auto;
    padding-top: 10px;
    text-align: left;
    margin-left: 100px;
}

.advanced-search-container h2 {
    text-align: left;
    color: #d93025;
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.intro-label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #333;
}

.form-group label {
    text-align: left;
    flex: 0 0 200px;
    display: block;
    font-weight:normal;
    margin-bottom: 5px;
}

.advancedsearchbar {
    flex: 1;
    width:auto;
    height: 12px;
    padding: 5px;
    font-size: 15px;
    flex-grow: 1;
    margin-right: 2%;
    border: 1px solid #d9d9d9;
}

.searchbar {
    width: 600px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    font-family: Arial, sans-serif;
}


.buttons input {
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: Arial, sans-serif;
font-size: 14px;
margin: 20px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}

.advanced-button {
    user-select: none;
    line-height: 27px;
    height: 36px;
    min-width: 120px;
    float: right;
    margin: 10px 18px;
    padding: 0 12px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    box-shadow: none;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    padding-block: 1px;
    padding-inline: 6px;
}